.firstLevel {
	display: grid;
	align-items: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	gap: 20px;
	grid-template-columns: 24px 1fr;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevelActive:hover svg{
	color: var(--primary);
}

.secondLevel {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--dark-gray);
	cursor: pointer;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	text-transform: uppercase;
}

.secondCategory {
	margin-bottom: 10px;
	cursor: pointer;
}

.secondCategory:hover {
	color: var(--primary);
}

.secondLevelBlock {
	display: absolute;
	overflow: hidden;
}

.secondBlock {
	padding-left: 32px;
	border-left: 2px solid #DFDFDF;
	margin-top: 15px;
	margin-left: 12px;
}

.thirdLevel {
	display: block;
	padding-left: 6px;
	color: var(--dark-gray);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
	cursor: pointer;
}

